@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: "Lexend";
  src: url("/static/lexend.ttf");
}


html {
  font-family: "Lexend", sans-serif;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: "Lexend";
  --ifm-background-color: #fafafa;
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Update icon colors for better visibility in dark mode */
.feature-icon{
  filter: brightness(0) saturate(100%) invert(39%) sepia(91%) saturate(2000%) hue-rotate(200deg) brightness(100%) contrast(90%);
}

[data-theme='dark'] .feature-icon {
  filter: brightness(0) saturate(100%) invert(60%) sepia(100%) saturate(2000%) hue-rotate(200deg) brightness(100%) contrast(90%);
}
/* Style for Randoli component's "App Insights Platform" text */
.max-w-xs text {
  fill: #2563eb !important; /* Force the SVG text color */
}

[data-theme='dark'] .max-w-xs text {
  fill: #60a5fa !important; /* Lighter blue for dark mode */
}

.navbar__logo img {
  height: 100%;
  margin-top: -4px;
}
