@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SlimSans";
  src: url("/fonts/SlimSansSerif.ttf");
}

@font-face {
  font-family: "SlimSansBold";
  src: url("/fonts/SlimSansBold.ttf");
}

html {
  font-family: "SlimSans", sans-serif;
  background-color: rgb(236, 255, 236);
}

.heroTextWrapper {
  width: 600px;
}

@media screen and (max-width: 600px) {
  .heroTextWrapper {
    width: 100%;
  }
}
